body {
  background-color: azure;
  max-width: 600px;
  margin: 0 auto;
  padding: 5% 10%;
  color: blue;
  font-size: larger;
  font-family: helvetica;
  border-radius: 8px;
}

h1 {
  padding: 8% 2%;
  color: azure;
  font-size: x-large;
  text-shadow: 0 0 20px blue;
  background-color: aquamarine;
}

h2 {
  padding: 3% 2%;
  font-size: 0.9em;
  background-color: aquamarine;
}

h3 {
  padding: 5% 2%;
}

ol, ul {
  padding: 0% 8%;
}

ol {
  column-count: 2;
}

li {
  line-height: 1.5em;
  font-size: medium;
  color: navy;
}

main, ol, ul {
  margin: 2% 0%;
  background-color: aliceblue;
}

footer {
  background-color: aquamarine;
}